<h1> Ha hecho una compra con éxito </h1>
<div>
  <label>cod</label><%= @sale.cod %>
</div>
<div>
  <label>detail</label><%= @sale.detail %>
</div>
<div>
  <label>value</label><%= @sale.value %>
</div>
<div>
  <label>tax</label><%= @sale.tax %>
</div>
<div>
  <label>total</label><%= @sale.total %>
</div>

<%= link_to 'volver', root_path %>