<nav class="navbar navbar-default" style="position:fixed; top: 0; width: 100% ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Gestión de Personal</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if !user_signed_in? && User.all.count == 0 %>
          <li><a href="<%= new_user_registration_path %>">Registrase</a></li>
        <% end %>
        <% if !user_signed_in? %>
          <li><a href="<%= new_user_session_path %>">Iniciar Sesión</a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><a href="<%= destroy_user_session_path%>" data-method="delete">Cerrar Sesión</a></li>
        <% end %>

        <% if user_signed_in? %>
          <li><a href="<%= projects_path %>">Proyectos</a></li>
        <% end %>
        <% if user_signed_in? %>
          <li><a href="<%= workers_path %>">Trabajores</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>