<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Aoellido:</strong>
  <%= @worker.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @worker.email %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Descripción</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.desc %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
